@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color: gray;
    color: #333;
    font-size: 0.875rem;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.inner{
    max-width: 600px;
    margin: 0 auto;
}

.section-title{
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header{
    margin-top: 60px;
}

.site-title{
    width: 160px;
    line-height: 1px;
    margin-bottom: 15px;
}

.site-title a{
    display: block;
}

.mainvisual{
    margin-bottom: 60px;
}

.index{
    background-color: #fff;
    padding: 30px 0;
    margin-bottom: 60px;
}

.index-list{
    margin-left: 20px;
}

.index-list li{
    margin-bottom: 20px;
}

.index-list li:last-child{
    margin-bottom: 0;
}

.detail{
    margin-bottom: 100px;
}

.detail2{
    display: flex;
    align-items: flex-start;
}

.title{
    font-size: 1.125rem;
    font-weight: bold;
}

.detail2 img{
    width: 270px;
    margin-right: 60px;
}

.detail3{
    width: 500px;
}

.detail3 p{
    margin-bottom: 20px;
}

.detail3 dl{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    margin-bottom: 25px;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}

.detail dt{
    width: 25%;
}

.detail dd{
    width: 75%;}

.detail a{
    color: #333;
}

.detail a:hover{
    opacity: 0.8;
}

.footer{
    font-size: 0.625rem;
    padding: 15px 0;
}


@media screen and (max-width:1024px){
    .inner{
        padding: 0 40px;
    }

    .header{
        padding: 0 10px;
    }

    .mainvisual{
        padding: 0 10px;
    }

    .detail2{
        flex-direction:column;
    }
    .detail2 img{
        width: 100%;
        margin: 0 0 25px 0;
    }
}
